<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About BHP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://kit.fontawesome.com/bda4136c04.js" crossorigin="anonymous"></script>

</head>
<body>
    <div class="header-about">
        <div class="inner-header-heading flex">
            <h1>ABOUT</h1>
        </div>
        <div class="flex">
            <p class="p_white">
                This website was made by Aryan Ramani. 
                <br>
                Links to Socials available below: 
                <br><br>
                <a class="socials" href="https://twitter.com/notaryanramani" target="_blank"><i class="fa-brands fa-twitter"></i> Twitter</a>
                <br><br>
                <a class="socials" href="https://www.instagram.com/notaryanramani/" target="_blank"><i class="fa-brands fa-instagram"></i> Instagram</a>
                <br><br>
                <a class="socials" href="https://github.com/NotAryanRamani/" target="_blank"><i class="fa-brands fa-github"></i> Github</a>
                <br><br>
                <a class="socials" href="https://www.linkedin.com/in/aryan-ramani-a516b5212" target="_blank"><i class="fa-brands fa-linkedin"></i> Linkedin</a>
            </p>
        </div>
    </div>
</body>
</html>